.char1,.word1,.line1 {color:maroon ;} 
.char2,.word2,.line2 { color: red; }
.char3,.word3,.line3 { color:darkorange; }
.char4,.word4,.line4 { color: orange; }
.char5,.word5,.line5 { color: yellow}
.char6,.word6,.line6 { color: greenyellow; }
.char7,.word7,.line7 { color: limegreen; }
.char8,.word8,.line8 { color: seagreen}
.char9,.word9,.line9 { color: lightseagreen; }
.char10,.word10,.line10 { color:darkcyan; }
.char11,.word11,.line11 { color: blue}
.char12,.word12,.line12 { color: darkblue; }
.char13,.word13,.line13 { color:blueviolet; }
.char14,.word14,.line14 { color:violet; }
.char15,.word15,.line15 { color: darkmagenta}
.char16,.word16,.line16 { color: brown; }
.char17,.word17,.line17 { color:darkred; }
.char18,.word18,.line18 { color: black;}
.char19,.word19,.line19 { color: silver; }
.char20,.word20,.line20 { color:white; }