html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-display: swap;
  font-size: 20px;
  line-height: 30px;
  overflow-wrap: break-word;
  color: #ffffff;

  background-image: url(../img/3d_400.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
}

.container {
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

ul,li{
  display: block;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

a:hover{
  cursor: pointer;
}

a:focus, a:link, a:active {
  outline: none;
}

h1, h2, h3, h4 {
  text-align: center;
}

h1, h2 {
  font-size: 30px;
}


/* header */
.page_header {
  margin-top: 20px;
}

.page_nav_wrapper {
  margin-bottom: 20px;
  padding: 5 20px;

  background-color: #8D7867;

  border: 10px solid #8D7867;
  border-radius: 20px;
}

.page_nav_wrapper:hover {
  border-color: #B9AB9F;
  transition: all 0.5s ease-in-out; 
}

.nav_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav_list_item {
  margin: 0 auto;
}

.link_wrapper {
  width: 150px;
  height: 75px;
  margin: 20px auto;
  position: relative;

  text-align: center;
  line-height: 75px;
  color: #ffffff;

  cursor: pointer;
}

.link_border {
  position: absolute;
  top: 0;
  left: 0;
}

.link_border rect {
  stroke: #ffffff;
  stroke-width: 5;
  transition: 0.8s;
  stroke-dasharray: 0, 50;
}

.link_wrapper:hover svg rect {
  stroke-width: 5;
  stroke-dasharray: 80, 80;
  stroke-dashoffset: 40;
}

.nav_link {
  position: absolute;
  margin: 0 auto;

  font-size: 20px;
  font-weight: 500;

  color: #ffffff;
  border: none;
  background: transparent;

  z-index: 2;
}

.nav_list li:nth-of-type(1) a {
  right: 30px;
}

.nav_list li:nth-of-type(2) a {
  right: 12px;
}

.nav_list li:nth-of-type(3) a {
  right: 38px;
}

.header_text_wrapper {
  margin-bottom: 20px;
  padding: 10px;

  background-color: #B9AB9F;
  border-radius: 20px;

  border: 10px solid #B9AB9F;
}

.header_text_wrapper:hover {
  border-color: #8D7867;
  transition: all 0.5s ease-in-out;
}

.header_text {
  text-align: center;
}

.header_text_wrapper:hover h1 {
  text-shadow: 2px 2px 5px #8D7867;
}

.study_link {
  display: inline-block;
  padding: 20px 10px;

  font-weight: 900;

  color: #8D7867;
}

.study_link:hover {
  text-shadow: 2px 4px 2px #ffffff;

  text-decoration: none;
}


/* section history */
.history_wrapper {
  margin-bottom: 20px;
  padding: 10px;

  background-color: #8D7867;

  border: 10px solid #8D7867;
  border-radius: 20px;
}

  .history_wrapper:hover {
  border-color: #B9AB9F;
  transition: all 0.5s ease-in-out; 
}

.history_wrapper:hover h2 {
  text-shadow: 2px 2px 5px #B9AB9F;
}


/* section gallery */
.gallery_wrapper {
  margin-bottom: 20px;
  padding: 10px;

  background-color: #B9AB9F;

  border: 10px solid #B9AB9F;
  border-radius: 20px;
}

.gallery_wrapper:hover {
  border-color: #8D7867;
  transition: all 0.5s ease-in-out;
}

.gallery_wrapper:hover h2 {
  text-shadow: 2px 2px 5px #8D7867;
}

.slide_show_wrapper {
  height: 313px;
  position: relative;
  overflow: hidden;
}

.slide_show_wrapper > div {
  position: absolute;
  top: 0;
  left: 0;

  height: 313px;
  width: 2937px;

  background: url(../img/content/gallery1_cr.png);

  transition: opacity 0.5s ease-out;
  animation: moveSlideshow 60s linear infinite;
  transform: translate3d(0,0,0);
}

.slide_show_wrapper .gallery_cont1 {
  background-position: 0 313px;
  animation: moveSlideshow 20s linear infinite;
}

.slide_show_wrapper:hover .gallery_cont2 {
  opacity: 0;
}

@keyframes moveSlideshow {
  0%   { 
    transform: translateX(0); 
  }    
  100% { 
    transform: translateX(-1684px); 
  }
}


/* section game */
.game_wrapper {
  text-align: center;
}

.temp_game_image {
  max-width: 600px;
  width: 100%;
  height: auto;

  border-radius: 20px;
  border: 10px solid transparent;
}

.temp_game_image:hover {
  border-color: #8D7867;
  transition: all 0.5s ease-in-out;
}



/* footer */
.page_footer {
  margin-bottom: 30px;
}

.feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 430px;
  margin: 0 auto;
  padding: 20px;

  border: none;
  border-radius: 10px;

  background-color: #B9AB9F;

  box-shadow: 5px 5px 5px 5px#D5D3D0;
}

.form_heading {
  display: inline-block;
  margin-bottom: 10px;

  font-size: 28px;
  font-weight: 700;
  text-align: center;

  color: #8B7464;
}

.form_inner {
  margin-bottom: 12px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form_inner label, input {
  height: 38px;

  border-radius: 10px;
}

.form_inner label {
  margin-bottom: -12px;

  display: flex;
  justify-content: center;
  font-weight: 700;
}

.form_inner input {
  display: flex;
  width: 100%;
}

.form_inner textarea {
  display: flex;
  max-width: 388px;

  border-radius: 10px;
}

.form_btn {
  width: 180px;
  margin: 0 auto;
  padding: 10px;

  border: none;
  border-radius: 10px;

  color: #8D7867;

  cursor: pointer;
}

.form_btn:hover {
  color: #ffffff;
  background-color: #8D7867;
  transition: all 0.3s ease-in-out; 
}