html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-display: swap;
  overflow-wrap: break-word;

  background-image: url(../img/3d_sm.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
}

.container {
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

ul,li{
  display: block;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-align: center;
  text-decoration: none;
}

a:hover{
  cursor: pointer;
}

a:focus, a:link, a:active {
  outline: none;
}


/* header */
.page_nav_inner {
  margin-bottom: 20px;
  padding: 10px;

  background-color: #8D7867;
  border-radius: 20px;

  color: #ffffff;
}

.nav_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav_list_item {
  margin: 0 auto;
}

.header_text_inner {
  margin-bottom: 20px;
  padding: 10px;

  background-color: #8D7867;
  border-radius: 20px;

  color: #ffffff;
}

.about_inner {
  margin-bottom: 20px;
  padding: 10px;

  background-color: #B9AB9F;
  border-radius: 20px;
}